.bootstrap.auto/
.bootstrap.local/
dependencies/
.repos/
mulle-configuration/
.repos/
build/
old/
xcuserdata/
project.xcworkspace/
*~.*
.DS_Store
tmp/
*.dSYM/
*.exe
mulle-tests/
.DS_Store
addictions/
/tests/mulle-tests

/bin/mulle-homebrew

/mulle-configuration

/.bootstrap.auto

/.bootstrap.local

/dependencies

/addictions

/.repos
build-xcode.d/
tests/NSURL/pipefilebin/tap-info.sh
tap-info.sh
